.main-genre {
	width: 100%;
	padding: 20px;
	display: grid;
	grid-template-columns: 150px 1fr;
	grid-template-rows: 1fr 100px;
	position: relative;
	.main-genre-title {
		grid-column: 1;
		grid-row: 1;
		color: white;
		&_container {
			position: sticky;
			top: 40px;
			left: 0;
			z-index: 999;
		}
		h1 {
			font-weight: bold;
			font-size: 30px;
		}
	}
	.main-genre-list {
		grid-column: 2/2;
		display: grid;
		grid-template-columns: repeat(4, minmax(0, 220px));
		gap: 20px;
		justify-content: center;
	}
}

@media (width<=750px) {
	.main-genre {
		display: flex;
		flex-direction: column;
		gap: 20px;
		.main-genre-list {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
		}
	}
	.main-genre-title_container_options {
		display: flex;
		align-items: flex-end;
	}
}
