.main-genre {
	width: 100%;
	padding: 20px;
	display: grid;
	grid-template-columns: 150px 1fr;
	grid-template-rows: 1fr 100px;
	position: relative;
	.main-genre-title {
		grid-column: 1;
		grid-row: 1;
		color: white;
		&_container {
			position: sticky;
			top: 40px;
			left: 0;
			z-index: 999;
		}
		h1 {
			font-weight: bold;
			font-size: 30px;
		}
	}
	.main-genre-list {
		grid-column: 2/2;
		display: grid;
		grid-template-columns: repeat(4, minmax(0, 220px));
		gap: 20px;
		justify-content: center;
		.genre-media-link {
			max-width: 220px;
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			gap: 5px;
			border: 1px solid rgba(255, 255, 255, 0.154);
			border-radius: 5px;
			padding: 5px;
			transition: 0.15s ease-in;
			.media-title {
				width: 95%;
				color: white;
				display: flex;
				justify-content: space-between;
				.title-rating {
					display: flex;
					align-items: flex-end;
					opacity: 0.6;
					transition: 0.2s ease-in;
					svg {
						width: 15px;
						height: 15px;
					}
				}
			}
			.poster {
				width: 100%;
				border-radius: 5px;
				transition: 0.2s ease-in;
				&.have-not {
					filter: grayscale(0.8);
				}
			}
			&:hover {
				background-color: #ba1818;
				.poster {
					transform: scale(1.01);
				}
				.title-rating {
					opacity: 1;
				}
			}
		}
	}
}

@media (width<=750px) {
	.main-genre {
		display: flex;
		flex-direction: column;
		gap: 20px;
		.main-genre-list {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
		}
	}
	.main-genre-title_container_options {
		display: flex;
		align-items: flex-end;
	}
}
