.title-slider {
	width: 70%;
	position: relative;
	transition: 0.3s ease-in;
	margin: 0 auto;

	.back {
		left: -40px;
	}

	.forward {
		right: -40px;
	}
}
.slider-navigation {
	position: absolute;
	top: 45%;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	opacity: 0.3;
	transition: 0.1s ease-in;
	&:hover {
		opacity: 0.5;
	}
}
.swiper-slide {
	width: 110px;
	height: 220px;
	display: grid;
	place-content: center;
}

@media (width<=650px) {
	.title-slider {
		width: 80%;
	}
}
@media (width<=400px) {
	.title-slider {
		width: 100%;
	}
	.slider-navigation {
		display: none;
	}
}
