$TITLE_OPASITY: 0.7;

.information-popup {
	width: 300px;
	padding: 10px;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999999999;

	display: flex;
	flex-direction: column;
	gap: 7px;

	border: 1px solid white;
	border-radius: 5px;

	background-color: #141414;

	color: white;

	font-size: 0.8em;

	&_title {
		font-family: 'Antonio';
		font-size: 1.2em;
		color: white;
		transition: 0.1s ease-in;
		&:hover {
			color: rgb(208, 208, 208);
		}
	}
	&_release {
		display: flex;
		gap: 5px;

		span:nth-child(1) {
			opacity: $TITLE_OPASITY;
		}
	}
	&_overview {
		line-height: 13px;
	}
}
