.information-popup {
	width: 300px;
	padding: 10px;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999999999;

	border: 1px solid white;
	border-radius: 5px;

	background-color: #141414;

	color: white;

	&_title {
		font-family: 'Antonio';
		color: white;
		transition: 0.1s ease-in;
		&:hover {
			color: rgb(208, 208, 208);
		}
	}
}
