.main-details {
	width: 100%;
	height: calc(100vh - 62px);
	min-height: 650px;
	position: relative;
	object-fit: cover;
	display: grid;
	grid-template-columns: 1fr 1.5fr;
	color: white;
	padding: 0 20px;
	.background-img {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		object-fit: cover;
		filter: blur(10px) brightness(0.7);
	}
	.left-column {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: 10px;
		margin-top: 15%;
		.details-poster {
			width: 300px;
			&.have-not {
				filter: grayscale(0.8);
			}
		}
		.rating-container {
			width: 300px;
			font-size: 20px;
			display: flex;
			align-items: flex-end;
		}
		.trailer-container {
			width: 300px;
			margin-top: 10px;
			.trailer-btn {
				background-color: #d01a1a;
				border-radius: 5px;
				padding: 5px 20px;
				color: #e5e5e5;
				align-items: center;
				font-size: 17px;
				&:hover {
					background-color: #e31c1c;
				}
			}
		}
	}
	.right-column {
		color: white;
		margin-top: 10%;
		.details-list {
			display: flex;
			flex-direction: column;
			padding-left: 20px;
			gap: 10px;
			max-width: 50%;
			span {
				font-weight: bold;
			}
			.details-title {
				font-family: "Antonio";
				font-size: 50px;
				margin-bottom: 40px;
			}
			.details-genre {
				display: flex;
				gap: 5px;
			}
			.overview {
				line-height: 20px;
			}
		}
	}
}
